__pycache__/
*.pyc
.DS_Store
web-scraping/data/*
!web-scraping/data/area_territorial_municipios.csv
!web-scraping/data/pop_municipios.csv
.venv/
venv/
.vscode/
web-scraping/database.sql
Arkhos.Api/obj/
Arkhos.Core/obj/