web-scraping/__pycache__/
web-scraping/.DS_Store
.DS_Store
web-scraping/data/raw/
web-scraping/data/Transparencia/
web-scraping/data/state/
web-scraping/data/Geral/
web-scraping/data/Infraestrutura/
web-scraping/data/Matricula/
web-scraping/.vscode
web-scraping/.venv
web-scraping/database.sql
web-scraping/data/CONSOLIDADO_GERAL_FINAL.csv