**/__pycache__/
**/*.pyc
**/*.pyo
.DS_Store
web-scraping/data/*
!web-scraping/data/area_territorial_municipios.csv
!web-scraping/data/pop_municipios.csv
!web-scraping/data/localizacao_escolas.csv
web-scraping/status/
.venv/
venv/
.vscode/
web-scraping/database.sql
Arkhos.Api/obj/
Arkhos.Core/obj/
Arkhos.Web/obj/
Arkhos.Web/bin/
Arkhos.Core/bin/
Arkhos.Api/bin/
Arkhos.Web/wwwroot/lib/